.game-area {
  position: relative;
  margin: 30px auto;
  width: 700px;
  height: 400px;
  border: 2px solid #fff;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 4%;
  background: #fff;
  border: 1px solid #000;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 4%;
  background: #fafa00;
  z-index: 1;
}
