.About {
  margin: 20px 0 20px 40px;
  overflow: auto;

  // &::-webkit-scrollbar {
  //   width: 0px;
  // }

  .Game_photo {
    float: left;
    width: 40vw;
    height: 50vh;
    background: url(../../assets/img/Game.png) no-repeat;
  }

  p {
    font-size: 25px;
  }
}
