* {
  color: #fff;
}

.Navbar {
  grid-area: N;
}

.Navbar__menu {
  margin-top: 100px;
  .active {
    color: #000;
    background-color: #fff;
  }
}

.Navbar__paragraph {
  font-size: 30px;
  padding: 5px;
  margin: 25px;
  border: 5px solid #fff;
  cursor: pointer;
  &:hover {
    border: 5px solid #fafa00;
  }
}
