.square_tic_tac_toe {
  width: 100px;
  height: 100px;
  background: #000;
  border: 1px solid #222222;
  cursor: pointer;
  font-size: 60px;
  outline: none;
  display: flex;
  justify-content: center;

  &:hover {
    background: #979797;
    transition: 0.3s all ease;
  }
}

.active {
  background: #979797;
}
