.square_tic_tac_toe {
  width: 200px;
  height: 200px;
  background: #000;
  color: #fff;
  border: 1px solid #222222;
  font-size: 150px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: #979797;
    transition: 0.3s all ease;
  }
}

.active {
  background: #979797;
}
