.Gemes__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .Game {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    flex-direction: column;

    &:hover {
      border: 1px solid #fafa00;
    }

    .Game__view {
      display: flex;
      flex-wrap: wrap;
      margin: 10px;
      cursor: pointer;
      height: 130px;
      width: 130px;
    }

    .Game__description {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .launchpad {
      background: url(../GamesFolder/icon/launchpad.png) 0 0/100% 100% no-repeat;
    }

    .snake {
      background: url(../GamesFolder/icon/snake.png) 0 0/100% 100% no-repeat;
    }

    .tic_tac_toe {
      background: url(../GamesFolder/icon/tic-tac-toe-hand-drawn-game.png) 0 0/100%
        100% no-repeat;
    }

    .Twenty48 {
      background: url(../GamesFolder/icon/2048.png) 0 0/100% 100% no-repeat;
    }
  }
}

p {
  color: #fff;
}
