.Iam {
  margin-left: 40px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  .My_photo {
    width: 80%;
    height: 100%;
    background: url(../../assets/img/Me.jpg) 0 0/100% 100% no-repeat;
  }

  p {
    font-size: 25px;
  }
}
