.Gemes__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .Game {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    flex-direction: column;

    &:hover {
      border: 1px solid #fafa00;
    }

    .Game__view {
      display: flex;
      flex-wrap: wrap;
      margin: 10px;
      border: 1px solid #fff;
      cursor: pointer;
      height: 130px;
      width: 130px;
    }

    .Game__description {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .launchpad {
      background: url(../../../components/GamesFolder/img/launchpad.png) 0 0/100%
        100% no-repeat;
    }

    .snake {
      background: url(../../../components/GamesFolder/img/snake.png) 0 0/100%
        100% no-repeat;
    }

    .aimTraining {
      background: url(../../../components/GamesFolder/img/arcade.png) 0 0/100%
        100% no-repeat;
    }

    .tic_tac_toe {
      background: url(../../../components/GamesFolder/img/tic-tac-toe-hand-drawn-game.png)
        0 0/100% 100% no-repeat;
    }
  }
}

p {
  color: #fff;
}
