@import "normalize";
@import "all";

body {
  background-color: #000;
  caret-color: transparent;
}

.wrapper {
  padding: 10px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 9fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "H H" "I N" "F F";
}
