.Work {
  width: 69vw;

  .work__examples {
    display: flex;
    margin: 40px 0;

    span {
      font-size: 32px;
      color: #fff;
    }

    a {
      width: 500px;
      height: 200px;
    }

    .example {
      border-radius: 20px;
      margin: 20px;
      width: 200px;
      height: 200px;
    }

    .pizza {
      background: url(../../assets/img/Work/pizza.jpg) 0 0/100% 100% no-repeat;
    }

    .socWeb {
      background: url(../../assets/img/Work/socWeb.webp) 0 0/100% 100% no-repeat;
    }

    .findFriend {
      background: url(../../assets/img/Work/findFriend.jpg) 0 0/100% 100%
        no-repeat;
    }

    .creatorofgeometry {
      background: url(../../assets/img/Work/без_фона_цвет+белый.png) 0 0/100%
        100% no-repeat;
    }
  }
}
